@import "./theme/settings";

.header {
  height: 66px;
  width: 100%;
  background-color: rgba(56, 59, 62, 0.92);

  .content {
    @include flexbox(space-between, center, row);
    width: 90%;
    max-width: 75rem;
    height: 100%;
    margin: 0 auto;

    &_brand-logo {
      @include flexbox(center, center, column);
      height: 100%;
      width: 4.4rem;
      img {
        max-width: 100%;
      }
    }

    &_navigation {
      &_list {
        &_item {
          list-style: none;
          button {
            color: var(--light);
            background-color: transparent;
            padding: 0.5rem 1rem;
            border: 1px solid rgba(39, 39, 39, 0.26);
          }
        }
      }
    }
  }
}
