<section class="prestamos">
  <article class="form-title">
    <h2 class="form-title_text">Préstamos</h2>
    <div class="control_version">
      <table>
        <tr>
          <td>CÓDIGO: {{ codigo }}</td>
        </tr>
        <tr>
          <td>VERSIÓN: {{ version }}</td>
        </tr>
        <tr>
          <td>FECHA: {{ fecha_version }}</td>
        </tr>
      </table>
    </div>
  </article>

  <form
    class="prestamos-form"
    [formGroup]="prestamosForm"
    (ngSubmit)="sendForm(prestamosForm)"
  >
    <div class="row">
      <mat-form-field
        class="example-full-width"
        appearance="fill"
        color="accent"
      >
        <mat-label>Centro de costos</mat-label>
        <input
          matInput
          type="text"
          [matAutocomplete]="auto3"
          formControlName="centro_costos"
          color="accent"
        />
        <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFn">
          <mat-option
            *ngFor="let name of filteredCostCenterNames | async"
            [value]="name"
            style="color: #000"
            (click)="findCostCenterByName(centro_costos.value)"
          >
            {{ name }}
          </mat-option>
        </mat-autocomplete>
        <!-- <button
          type="button"
          mat-raised-button
          color="accent"
          (click)="findCostCenterByName(centro_costos.value)"
        >
          Buscar
        </button> -->
      </mat-form-field>

      <mat-form-field class="disabled" appearance="fill" color="accent">
        <mat-label>Código Centro de costos</mat-label>
        <input matInput type="number" formControlName="codigo_centro" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field
        class="example-full-width"
        appearance="fill"
        color="accent"
      >
        <mat-label>Quién aprueba el préstamo</mat-label>
        <input
          matInput
          class="disabled"
          type="text"
          formControlName="aprueba"
          color="accent"
        />
        <!-- <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option
            *ngFor="let name of filteredJefesNames | async"
            [value]="name"
            style="color: #000"
          >
            {{ name }}
          </mat-option>
        </mat-autocomplete> -->
      </mat-form-field>
      <mat-form-field appearance="fill" class="disabled">
        <mat-label>Fecha diligenciamiento</mat-label>
        <input matInput type="date" formControlName="fecha" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Nombre del empleado</mat-label>
        <input
          matInput
          type="text"
          [matAutocomplete]="auto2"
          formControlName="empleado"
          color="accent"
        />
        <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">
          <mat-option
            *ngFor="let name of filteredEmpleadosNames | async"
            [value]="name"
            style="color: #000"
            (click)="findUserByName(empleado.value)"
          >
            {{ name }}
          </mat-option>
        </mat-autocomplete>
        <button
          type="button"
          mat-raised-button
          color="accent"
          (click)="findUserByNameInGeneralArray(empleado.value)"
        >
          Ver todos
        </button>
      </mat-form-field>

      <mat-form-field class="disabled" appearance="fill" color="accent">
        <mat-label>Documento de identificación</mat-label>
        <input
          matInput
          type="number"
          #identificacion
          maxlength="10"
          minlength="6"
          formControlName="identificacion"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="disabled">
        <mat-label>Fecha de ingreso nómina</mat-label>
        <input matInput type="date" formControlName="fechaIngreso" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Valor del préstamo</mat-label>
        <span matPrefix>$ &nbsp;</span>
        <input matInput type="number" formControlName="valorPrestamo" />
        <mat-error
          *ngIf="
            valorPrestamo.hasError('min') && !valorPrestamo.hasError('required')
          "
        >
          El valor del préstamo debe ser de mínimo $10.000
        </mat-error>
        <mat-error *ngIf="valorPrestamo.hasError('required')">
          El monto del préstamo es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" color="accent">
        <mat-label>Número de cuotas</mat-label>
        <input
          matInput
          type="number"
          formControlName="numeroCuotas"
          maxlength="2"
        />
        <mat-error
          *ngIf="
            numeroCuotas.hasError('max') && !numeroCuotas.hasError('required')
          "
        >
          El número de cuotas máximo es 36
        </mat-error>
        <mat-error
          *ngIf="
            numeroCuotas.hasError('min') && !numeroCuotas.hasError('required')
          "
        >
          El número de cuotas mínimo es 1
        </mat-error>
        <mat-error *ngIf="numeroCuotas.hasError('required')">
          El número de cuotas es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" color="accent">
        <mat-label>Tipo de prestamo</mat-label>
        <mat-select formControlName="tipoPrestamo">
          <mat-option
            *ngFor="let prestamo of prestamos"
            [value]="prestamo.uuid"
            style="color: #000"
          >
            {{ prestamo.tipo_de_prestamo }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-expansion-panel
        (opened)="cuotasExtra.controls.length < 1 ? addCuotaExtra() : null"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Cuotas extra</mat-panel-title>
        </mat-expansion-panel-header>
        <div
          formArrayName="cuotasExtra"
          *ngFor="let cuota of cuotasExtra.controls; let i = index"
        >
          <div [formGroupName]="i" class="permantly-row">
            <!-- <div class="index-block" syle="height: 100%; width: 30px;">
              {{ i + 1 }}
            </div> -->
            <mat-form-field
              appearance="fill"
              color="accent"
              class="index-block"
            >
              <mat-label>Número de cuota</mat-label>
              <input
                matInput
                type="number"
                formControlName="cantidad_cuotas"
                maxlength="1"
              />
              <!-- <mat-error *ngIf="cuotasExtra.hasError('max')">
                El número de cuotas extra máximo es 10
              </mat-error> -->
            </mat-form-field>

            <mat-form-field appearance="fill" color="accent" class="amount">
              <mat-label>Valor por cuota</mat-label>
              <span matPrefix>$ &nbsp;</span>
              <input matInput type="number" formControlName="valor_cuota" />
              <!-- <mat-error
                *ngIf="prestamosForm.controls['valor_cuota']!.hasError('min')"
              >
                El valor de la cuota debe ser de mínimo $10.000
              </mat-error> -->
            </mat-form-field>
            <button
              type="button"
              class="add-button"
              matRipple
              (click)="addCuotaExtra()"
            >
              <i class="fas fa-plus"></i>
            </button>
            <button
              type="button"
              class="remove-button"
              matRipple
              (click)="removeCuotaExtra(i)"
            >
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </div>

    <div class="row">
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Observaciones</mat-label>
        <textarea
          matInput
          placeholder="Ingrese aquí sus comentarios adicionales"
          formControlName="observaciones"
          style="max-height: 20rem; min-height: 5rem"
        >
        </textarea>
      </mat-form-field>
    </div>

    <button
      [disabled]="prestamosForm.invalid"
      [ngClass]="{ disabled: prestamosForm.invalid }"
      matRipple
      type="submit"
      class="send-button"
    >
      Guardar préstamo
    </button>
  </form>

  <div class="modal" *ngIf="openModal">
    <div class="card">
      <div (click)="toggleOpen()" class="close">
        <i class="fas fa-times"></i>
      </div>
      <figure class="card_image">
        <img src="assets/images/gifs/success.gif" />
      </figure>
      <article class="card_text">
        <h2 class="card_text_title">¡Préstamo registrado!</h2>
        <p class="card_text_paragraph">
          El préstamo ha sido registrado con éxito.
        </p>
      </article>
      <button
        (click)="toggleOpen()"
        type="button"
        class="send-button sm"
        matRipple
      >
        Entendido
      </button>
    </div>
  </div>
</section>
